<div class="container">
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-4 col-md">

            <h5>Events</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted disabled" href="http://iw2021.xrenlab.com" target="_blank">IWHEC 2021</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://iw2020.xrenlab.com" target="_blank">IWHEC 2020</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://iw2019.xrenlab.com" target="_blank">IWHEC 2019</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://iss2018ws.xrenlab.com" target="_blank">ISS Workshop 2018</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="https://chec2020class.github.io/" target="_blank">CHEC Cloud Talk Series</a>
                </li>
            </ul>

        </div>
        <div class="col-4 col-md">
            <h5></h5> <br />
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted disabled" href="https://ixap2018.github.io/" target="_blank">IxAP 2018</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://forum.chec.ren" target="_blank">IWHEC 2017</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://itap2016.xrenlab.com" target="_blank">ITAP 2016</a>
                </li>
                <li>
                    <a class="text-muted disabled" href="http://idhf2016.xrenlab.com" target="_blank">IDHF 2016</a>
                </li>
            </ul>
        </div>
        <div class="col-4 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li>
                    <a class="text-muted disabled" href="https://www.kochi-tech.ac.jp/english/admission/ssp_aft19oct/ssp_application_guideline.html" target="_blank">KUT SSP</a>
                </li>
                 <li>
                    <a class="text-muted disabled" href="{{ static_url('documents/CSC-KUT-CHEC.pdf') }}" target="_blank">KUT CSC</a>
                </li>
            </ul>
        </div>
        <div class="w-100"></div>
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">{{ site.description }}
        </div>
    </div>
</footer>
</div>