<header>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <a href="/" class="my-0 mr-md-auto font-weight-normal">
          <img src="{{ site.baseurl }}/assets/images/logo.png" alt="" style="height:40px;">
      </a>
      <nav class="my-2 my-md-0 mr-md-3">
        {% assign navlist = site.data.struct.nav | sort: 'order'  %}
              {% for item in navlist %}
              <a class="p-2 text-dark" href="{{ item.url | relative_url }}">{{ item.title | escape }}</a>  
              {% endfor %}
      </nav>
  </div>
</header>