<head>
  <meta charset="UTF-8">
  <title>{{ _(handler.title) }}</title>
  <link rel="stylesheet" href="{{ static_url('/assets/styles/stylesheets/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('/assets/styles/stylesheets/style.css') }}">
  <link rel="icon" href="{{ static_url('/assets/favicon.ico') }}">
  <script src="{{ static_url('/assets/libs/holderjs/holder.js') }}"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-32872028-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-32872028-1');
  </script>
</head>